@import "tailwindcss";

.corner-bevel {
  corner-shape: bevel;
}

.corner-notch {
  corner-shape: notch;
}

.corner-square {
  corner-shape: square;
}

.corner-squircle {
  corner-shape: squircle;
}

.corner-ellipse {
  corner-shape: superellipse(-1.5);
}

.corner-scoop {
  corner-shape: scoop;
}

.bg-strips {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
}
